{% extends "headerfooter.html" %}
{% block content %}


	<!-- Domain Modal -->
	
	<!-- //Domain modal -->
	<!--/inner-banner-->
	<div class="inner-banner">
		<div class="inner-page-infhny">
		</div>
	</div>
	<!--//inner-banner-->
	<div class="w3l-about-us best-services py-5">
		<div class="container py-lg-5 py-sm-4">
			<div class="maghny-gd-1">
				<div class="row about-text">
					<div class="col-lg-6">
						<h3 class="hny-title">Best Ayurveda Cosmetic Clinic in </h3>
						<h3 class="hny-title" style="text-align: center;">Kannur</h3>
					</div>
					<div class="col-lg-6 mt-lg-0 mt-4">
						<p>Samridhi Ayurveda Cosmetic Clinic brings up a unique motto - 'a modern living with a herbal edge'. We offer customised solutions for healthy skin and hair with an integrated treatment approach comprising of authentic Ayurvedic methods with advanced cosmetic techniques. We help you to face and fight daily challenges like pimple, pigmentation, warts, dark spots, wrinkles, dandruff and much more.</p>
						
					</div>
				</div>
				<div class="row mt-5">
					<div class="maghny-gd-1 col-lg-4 col-md-6">
						<div class="maghny-grid">
							<figure class="effect-lily border-radius">
								<img class="img-fluid" src="/static/assets/images/ab.jpg" style="width: 364px;height: 318px; object-fit: cover;">
								<figcaption class="w3set-hny">
									<div>
										<h4>Top Salon <span> Parlour</span></h4>
										<p>Spa </p>
									</div>

								</figcaption>
							</figure>
						</div>
					</div>
					<div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
						<div class="maghny-grid">
							<figure class="effect-lily border-radius">
								<img class="img-fluid" src="/static/assets/images/ab2.jpg" style="width: 364px;height: 318px; object-fit: cover;">
								<figcaption class="w3set-hny">
									<div>
										<h4>Spa and Wellness <span> Parlour</span></h4>
										<p>Pedicure </p>
									</div>

								</figcaption>
							</figure>
						</div>
					</div>
					<div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
						<div class="maghny-grid">
							<figure class="effect-lily border-radius">
								<img class="img-fluid" src="/static/assets/images/ab3.jpg" style="width: 364px;height: 318px; object-fit: cover;">
								<figcaption class="w3set-hny">
									<div>
										<h4>Beauty Spa <span> Parlour</span></h4>
										<p>Facial </p>
									</div>

								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //bottom-grids -->
	<section class="w3l-about4" id="about">
		<div class="new-block py-5">
			  
				<div class="container">
				<div class="pop-img-ab position-relative">
					<div class="history-info">
				  
				  <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
				  <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
					<iframe src="https://player.vimeo.com/video/74254578" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	  </section>
	   <!-- //content-6-section -->
	<div class="w3l-bottom-grids py-5">
		<div class="container py-lg-5">
			<div class="row bottomhny-grids-sec align-items-center">
				<div class="col-lg-6 bottomhny-1">
					<img class="img-fluid" src="/static/assets/images/banner1.jpg">
				</div>
				<div class="col-lg-6 bottomhny-gd-ingf pl-lg-5 mt-lg-0 mt-5">
					<h6 class="sub-title">Why Choose Us</h6>
					<h3 class="hny-title">The Best for You</h3>
					<p class="mt-3">An Ayurvedic cleanse draws out the toxins from the body, also drawing out excess vata, pitta, and kapha from the tissues into the digestive tract in order to eliminate them. This, in turn, unblocks the channels and restores balance. This cleanse is known as Panchakarma, which literally means five actions or procedures.</p>
					<div class="ready-more mt-lg-5 mt-4">
						<a class="btn btn-style btn-primary" href="/about/">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}