{% extends "headerfooter.html" %}
{% block content %}


	<!-- Domain Modal -->
	
	<!-- //Domain modal -->
	<!-- main-slider -->
	<section class="w3l-main-slider position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Show the world a healthy face!</h4>
										<h5>Healing body, mind, and spirit!</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="/services/">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Feel natural, be natural.</h4>
										<h5>Creating your beauty at New Level</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="/services/">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Show the world a healthy face!</h4>
										<h5>See yourself in a New Light.</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="/services/">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg text-center">
										<h4 class="sub-font">Feel natural, be natural.</h4>
										<h5>Creating your beauty at New Level</h5>
										<div class="banner-buttons mt-md-5 mt-4">
											<a class="btn btn-style btn-primary" href="/services/">Our Services</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
			<div class="banhny-timing">MON - Sun : 7:00AM - 8:00PM </div>
			<div class="banhny-left-botm">Natural & Glowing Makeup Look</div>
			<div class="scrollhny-btn">
				<a class="btn-btmhny scroll" href="#about">
					<div class="scroll-arrow"></div>
					<div class="scroll-arrow"></div>
					<div class="scroll-arrow"></div>
				</a>

			</div>

		</div>

	</section>
	<!-- //banner-slider-->
	<!-- main-slider -->
	<!-- //bottom-grids -->
	<div class="w3l-bottom-grids py-5" id="about">
		<div class="container py-lg-5">
			<div class="row bottomhny-grids-sec text-center">
				<div class="col-md-10 bottomhny-1 mx-auto">
					<div class="bottomhny-gd-ingf">
						<!-- <h6 class="sub-title">About Us</h6> -->
						<h3 class="hny-title">Welcome to Home of Beauty,<br>Relaxation and Respite</h3>
						<p class="mt-3">Ayurveda believes that true beauty is composed of three vital elements: a well-nourished body, a balanced mind, and a peaceful spirit. In other words, outer beauty is a reflection of one's inner health and wellbeing.</p>
						<div class="ready-more mt-lg-5 mt-4">
							<a class="btn btn-style btn-primary" href="/about/">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /w3l-content-with-photo-4-->
	<section class="w3l-content-with-photo-4">
		<!-- /content-grids-->
		<div class="content-photo-info py-5">
			<div class="container py-lg-5">
				<!-- /row-->
				<div class="content-photo-grids">
					<div class="photo-6-inf-right">
						<h6 class="sub-title">Health & Relaxation</h6>
						<h3 class="hny-title">
							Our Philosophy
						</h3>
						<p class="mt-3">Ayurveda believes that true beauty is composed of three vital elements: a well-nourished body, a balanced mind, and a peaceful spirit. In other words, outer beauty is a reflection of one's inner health and wellbeing.</p>
						<div class="servehny-1">
							<div class="ser-sub">

								<a href="#link" class="ser1"><span class="fa fa-check"></span> Facials
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Body Treatments
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Waxing</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Massage</a>
							</div>
							<div class="ser-sub">
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Home cleaning
								</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span> Hands & Feet</a>

								<a href="#link" class="ser1"><span class="fa fa-check"></span>
									Aroma Therapy</a>
								<a href="#link" class="ser1"><span class="fa fa-check"></span>
									Tea Therapy</a>
							</div>
						</div>
						<div class="read-buttons">
							<a class="btn btn-style two btn-primary" href="/services/">Our Services</a>
							<a class="btn btn-style btn-primary" href="/contact/">Contact Us</a>
						</div>
					</div>

				</div>
				<!-- //row-->
			</div>
		</div>
	</section>
	<!-- /w3l-content-with-photo-4-->
	<!-- /w3l-content-grids-->
	<section class="w3l-sss2">
		<div class="row abouthy-img-grids no-gutters">
			<div class="col-md-6 img-one">
				<img src="/static/assets/images/ab.jpg" style="margin-top: 20px;" alt=" " class="img-fluid">
			</div>
			<div class="col-md-6 img-one content-mid py-md-0 py-5">
				<div class="info">
					<h3 class="hny-title two">
						Make-Up Services
					</h3>
					<p class="mt-3 mb-5 pr-lg-4" style="margin-left: 20px;">Ayurveda emphasized both external and internal beauty by involvement of mental and spiritual wellbeing. There is a secret of beauty in Ayurveda, is known as the state of self- realization, and no need to use any external cosmetics when person is self–realized.


					</p>
					<div class="ready-more">
						<a class="btn btn-style btn-primary" style="margin-left: 20px;" href="/services/">Services</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 img-info content-mid py-md-0 py-5">
				<div class="info">
					<h3 class="hny-title two">
						Hair Styling Services
					</h3>
					<p class="mt-3 mb-5 pr-lg-4" style="margin-left: 20px;" >Herbal hair care. In Ayurveda, the fruits from the reetha (Sapindus mukorossi) and shikakai (Senegalia rugata) plants are added to warm water and converted into a frothy, soapy, shampoo-like product. This mixture maintains the moisture of the hair strand, and the water is used to clean and nourish the hair

					</p>
					<div class="ready-more">
						<a class="btn btn-style btn-primary" style="margin-left: 20px;"  href="/services/">Services</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 img-one">
				<img src="/static/assets/images/ab1.jpg" style="width: 100%;height: 100%;" alt=" " class="img-fluid">
			</div>
		</div>
	</section>
	<!-- /w3l-content-grids-->
	<!--//news-grids-->
	<section class="w3l-news-sec">
		<div class="news-mainhny py-5">
			<div class="container text-center py-lg-3">
				<div class="title-content text-center mb-lg-5 mb-4">
					<h6 class="sub-title">View</h6>
					<h3 class="hny-title">Our Gallery</h3>

				</div>
			</div>
			<div class="owl-news owl-carousel owl-theme">
				{% for x in details %}
				<div class="item">
					<div class="news-img position-relative">
						<img src="{{x.image.url}}" style="width: 364px;height: 364px; object-fit:cover;" class="img-fluid" alt="news image"></a>
						<div class="title-wrap">
							
								<h4 class="title">{{x.caption}}</h4>
							<span class="fa fa-arrow-right"></span>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
	<!--//news-grids-->
	
	<!-- /w3l-newsletter-->
	<section class="w3l-newsletter">
		<!-- /form-25-section -->
		<div class="form-25-main py-5">
			<div class="container py-lg-5">
				<div class="forms-25-info">
					<div class="title-content text-center">
						<!-- <h6 class="sub-title">Newsletter</h6>
						<h3 class="hny-title two">Subscribe to get the latest
							<br>news and updates.</h3>

					</div>

					<form action="#" method="post" class="signin-form mt-4 mb-2">
						<div class="forms-gds">
							<input type="text" name="" placeholder="Name" required />
							<input type="email" name="" placeholder="Email" required />
							<button class="btn btn-style btn-primary">Subscribe</button>
						</div>
					</form> -->
				</div>
			</div>
		</div>
	</section>
	<!-- //w3l-newsletter-->
	<!--/testimonials-->
	<section class="w3l-testimonials">
		<div class="testimonials py-5">
			<div class="container text-center py-lg-3">
				<div class="title-content text-center mb-lg-5 mb-4">
					<h6 class="sub-title">Testimonials</h6>
					<h3 class="hny-title">What Our
						People Says?</h3>

				</div>
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<div class="owl-testimonial owl-carousel owl-theme">
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="/static/assets/images/c2.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- Jenkins</div>

								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="/static/assets/images/c1.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- John Balmer</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="/static/assets/images/c3.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- Kiss Kington</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="img-circle">
										<img src="/static/assets/images/c1.jpg" class="img-fluid rounded" alt="client image">
									</div>
									<div class="message"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem
										ipsum dolor sit amet consectetur adipisicing elit. Ea sit
										id
										accusantium
										officia quod quasi necessitatibus perspiciatis Harum error provident
										quibusdam tenetur.</div>
									<div class="name">- Elizabeth</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//testimonials-->

{% endblock %}