<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends "admin/headerfooter.html" %}
{% block content %}
<!--sidebar start-->

<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- //market-->
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-2">
					<!-- <div class="col-md-4 market-update-right">
						<i class="fa fa-eye"> </i>
					</div> -->
					 <div class="col-md-8 market-update-left">
					 <a href="/ctable/"><h4 style="text-align: center;">CONTACT TABLE</h4></a>
					<!-- <h3>13,500</h3>
					<p>Other hand, we denounce</p> -->
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-1">
<!-- 					<div class="col-md-4 market-update-right">
						<i class="fa fa-users" ></i>
					</div> -->
					<div class="col-md-8 market-update-left">
					<a href="/gettable/"><h4 style="text-align: center;">GET PRICE TABLE</h4></a>
						<!-- <h3>1,250</h3>
						<p>Other hand, we denounce</p> -->
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-3">
					<!-- <div class="col-md-4 market-update-right">
						<i class="fa fa-usd"></i>
					</div> -->
					<div class="col-md-8 market-update-left">
						<a href="/stable/"><h4 style="text-align: center;">SERVICE TABLE</h4></a>
						<!-- <h3>1,500</h3>
						<p>Other hand, we denounce</p> -->
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-4">
					<!-- <div class="col-md-4 market-update-right">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div> -->
					<div class="col-md-8 market-update-left">
						<a href="/gtable/"><h4 style="text-align: center;">GALLERY TABLE</h4></a>
						<!-- <h3>1,500</h3>
						<p>Other hand, we denounce</p> -->
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd" style="margin-top: 50px;margin-left: 200px;">
				<div class="market-update-block clr-block-4">
					<!-- <div class="col-md-4 market-update-right">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div> -->
					<div class="col-md-8 market-update-left">
						<a href="/gform/"><h4 style="text-align: center;">GALLERY FORM</h4></a>
						<!-- <h3>1,500</h3>
						<p>Other hand, we denounce</p> -->
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div><br>
			<div class="col-md-3 market-update-gd" style="margin-top: 50px;margin-left:50px;">
				<div class="market-update-block clr-block-3">
					<!-- <div class="col-md-4 market-update-right">
						<i class="fa fa-usd"></i>
					</div> -->
					<div class="col-md-8 market-update-left">
						<a href="/sform/"><h4 style="text-align: center;">SERVICE FORM</h4></a>
						<!-- <h3>1,500</h3>
						<p>Other hand, we denounce</p> -->
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>	
		<!-- //market-->
		
{% endblock %}